* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.top-corner-bg {
    background-image: url("https://rabbil.com/static/media/shape.2b51cba3ac3363b666ac.svg");
}

.d-flex input {
    width: 450px;
    border: none;
}

.button-search button {
    border: none;
    background-color: #21BF73;
    width: 107px;
    margin-left: 339px;
    border-radius: 30px;
    margin-top: -181px;
    height: 49px;
}

.headline-3 {
    margin-top: -250px;
}

/* -----numeric-number------ */
.icon {
    margin-top: -165px;
    display: flex;
    margin-left: 29px;
}

.round {
    margin: -12px;
    color: #22BF73;
    border: 2px solid;
    height: 60px;
    width: 60px;
    background: white;
}

.round img {
    width: 55px;
    height: 56px;
}

.numeric-number {
    font-size: 30px;
    font-weight: 600;
    color: black;
    margin-left: 11px;
    line-height: 53px;
}

/* ---Recommended------- */
.section-title {
    background-image: url("https://rabbil.com/static/media/section-title-bg.03a11e5369d3c5405895.svg");
    background-repeat: no-repeat;
    background-size: contain;
    padding: 10px;
}

.rounded {
    margin-top: -10px;
}

.Express-rounded {
    border: 2px solid;
    border-radius: 100px;
    width: 60px;
    height: 60px;
    color: green;
    margin-top: 25px;
    margin-left: 7px;

}

.smal-rounded {
    border: 6px solid;
    border-radius: 100px;
    width: 23px;
    height: 22px;
    color: #DEE2E6;
    margin-top: -42px;
    margin-left: 25px;
}

.card-title {
    font-size: 17px;
    font-weight: 600;
}

.card-text {
    font-size: 14px;
}

.id-button button {
    border-radius: 20px;
    background-color: #21BF73;
    width: 135px;
    height: 44px;
} 